<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.illia.auth_window" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false">
    </supports-screens>

    <application

        android:allowBackup="true"
        android:icon="@drawable/barmanadger"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        >
        <activity android:name=".StartActivity" android:label="Authentication" android:theme="@style/AuthWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CoreActivity"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>
